<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.teamTK.tracker">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name="com.teamTK.tracker.ChangePWActivity" />
        <activity android:name="com.teamTK.tracker.HomeActivity" />
        <activity android:name="com.teamTK.tracker.List" />
        <activity android:name="com.teamTK.tracker.Mood" />
        <activity android:name="com.teamTK.tracker.ResetPWActivity" />
        <activity android:name="com.teamTK.tracker.SignInActivity" />
        <activity android:name="com.teamTK.tracker.SignUpActivity" />
        <activity android:name="com.teamTK.tracker.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>